/* css for logo  */

h1{
    font-size: 4.8rem;
    width: 700;
}

/* css for searchbar */

.search{

}

.btn_search{

}

.btn_img{

}

/* css for header */

header{
    background-color: #1A1F38;
    width: 100%;
    height: 9rem;
}